# RStudio / R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# renv
renv/library/
renv/staging/
renv/local/

# Large data outputs (keep raw data out of Git)
data/raw/
data/processed/

# Results (optional: you can choose to track figures)
# results/

# OS
.DS_Store
results/tables/tcga_brca_dds.rds
results/tables/tcga_luad_dds.rds

# R session files
.Rhistory
.RData
.Rproj.user/

# Binary R objects
*.rds

# Recount3 cache (just in case)
.recount3/
.cache/

